
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #2f4d49;     
}

body {
    /*image arriere plan*/
    background-image: url(image0_0.jpg);
    background-size: cover;
    background-position: center;
}

form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    max-width: 400px; 
    padding: 20px;
    border: 1px solid #3b5372;
    border-radius: 10px;
    background: rgba(22, 20, 18, 0.792);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: rgb(27, 123, 27)
}


form input {
    background-color: #333333 !important; 
    color: #FFFFFF!important; 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #3b5372;
    border-radius: 5px;
}